@charset "UTF-8";

body {
    height: 100vh;
    background-color: black;
    background-image: url('imagens/wallpaper002.jpg');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
/*
    Shorthand - background
    color > image > position > repeat > size(Não aceita como shorthand) > attachment
*/


main {
    background-color: white;
    max-width: 400px;
    padding: 10px;
    margin: auto;
    border: 1px solid crimson;
    border-radius: 10px;
}