@charset "UTF-8";

div.bloco {
    background-image: url('imagens/wallpaper003.jpg');
    height: 200px;
    border: 1px solid black;
    border-radius: 10px;
    margin: 10px;
}

div#q1 {
    background-position: left top;
}

div#q2 {
    background-position: left center;
}

div#q3 {
    background-position: right bottom;
}

div#q4 {
    background-position: center center;
}